/* COMMON */

:root {
	font-family: "DejaVu Sans Mono", monospace;
	--ui_t_vl: #FFF;
	--ui_t_l: #CCC;
	--ui_t_m: #989898;
	--ui_t_d: #777;
	--ui_t_vd: #444;
	--ui_vl: #303030;
	--ui_l: #282828;
	--ui_m: #202020;
	--ui_d: #181818;
	--ui_vd: #101010;
}

body {
	margin: 0;
	padding: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	background-color: #000;
	color: var(--ui_t_l);
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {

}

a.tag_grp_link:hover {
	box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
	/*filter: brightness(1.5) drop-shadow(0 0 4px #FFF);*/
}

a.img_link:hover {
	/*filter: brightness(0.5);*/
}

input {
	outline: none;
	color: var(--ui_t_l);
	background-color: var(--ui_d);
	border: 2px solid var(--ui_m);
}

::-webkit-scrollbar
{
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track
{
}

::-webkit-scrollbar-thumb
{
  background-color: var(--ui_t_vd);
	border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover
{
  background-color: var(--ui_t_m);
}

/* INDEX */

#index_prime {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 100%;
	width: 100%;
	background-color: var(--ui_vd);
}

#index_head {
	flex: 0 0 auto;
	display: flex;
	flex-direction: row;
	height: 25px;
	background-color: var(--ui_l);
	padding: 10px;
	align-items: center;
	justify-content: center;
}

.index_headcat {
	flex: 0 0 auto;
	font-size: 14px;
	font-weight: bold;
	margin: 5px;
}

#index_taginput {
	flex: 500 0 auto;
	height: 28px;
	padding: 5px;
}

#index_omitinput {
	flex: 125 0 auto;
	height: 28px;
	padding: 5px;
}

#index_tagclear {
	flex: 0 0 auto;
	height: 28px;
	padding: 0px 5px 0px 5px;
	margin-left: 10px;
	font-weight: bold;
}

#index_ssb {
	flex: 0 0 auto;
	height: 28px;
	padding: 0px 5px 0px 5px;
	margin-left: 10px;
	font-weight: bold;
}

#index_modeselect {
	flex: 0 0 auto;
	height: 28px;
	padding: 0px 5px 0px 5px;
	margin-left: 10px;
	font-weight: bold;
	border: 2px solid var(--ui_m);
	outline: none;
	color: var(--ui_t_l);
	background-color: var(--ui_d);
	font-weight: bold;
}

#index_sub {
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

#index_leftbar_cont {
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
	background-color: var(--ui_l);
	padding: 0px 10px 10px 10px;
	padding-bottom: 40px;
}

#index_leftbar {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	width: 225px;
	overflow: auto;
	background-color: var(--ui_d);
	border: 8px solid var(--ui_m);
	padding: 6px;
}

#index_leftbar > * {
	margin: 1px 0px 1px 0px;
}

.index_leftbar_tagcont {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	font-size: 12px;
	min-height: 12px;
	min-height: fit-content; /* not supported on some browsers */
}

.index_leftbar_tagname {
	flex: 1 0 auto;
	margin-right: 20px;
}

.index_leftbar_tagcount {
	flex: 0 0 auto;
}

.index_leftbar_options {
	flex: 0 0 auto;
	margin-left: 5px;
}

#index_imgview {
	flex: 1 1 auto;
	padding: 20px;
	overflow: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
}

.index_entry {
	flex: 0 0 auto;
	text-align: center;
	background-color: #222;
	width: 200px;
	height: 220px;
	display: inline-block;
	padding: 10px;
	margin: 10px;
	overflow: hidden;
	border-radius: 10px;
}

.index_thumbcont {
	width: 200px;
	height: 200px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #000;
	margin-bottom: 10px;
}

.index_entry_textcont {
	display: flex;
	flex-direction: row;
}

.index_entry_text {
	font-size: 10px;
	white-space: nowrap;
}

.index_res {
	text-align: left;
	flex: 0 0 auto;
	color: #444;
}

.index_res_hw {
	color: #777;
}

.index_weight {
	flex: 1 1 auto;
	color: #777;
	text-align: center;
}

.index_siz {
	text-align: right;
	flex: 0 0 auto;
	color: #777;
}

#index_slideshow_cont {
	visibility: hidden;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	outline: none;
	text-align: center;
}

.index_slideshow_img {
	max-width: 100%;
	max-height: 100%;
}

/* CMD */

#cmd_cont{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--ui_l);
	color: #8F8;
}

#cmd_window {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	overflow: auto;
	background-color: var(--ui_m);
	margin: 20px;
	padding: 10px;
}

.cmd_cont {
	flex: 0 0 auto;
	display: flex;
	flex-direction: row;
	background-color: var(--ui_d);
	margin: 5px;
}

.cmd_pre {
	flex: 0 0 auto;
	outline: none;
	margin-right: 20px;
}

.cmd_text {
	flex: 1 1 auto;
	outline: none;
}

.cmd_bad {
	color: #F88;
}

.cmd_res {
	color: #CCC;
}

.cmd_edit {
	flex: 1 1 auto;
	outline: none;
	background-color: var(--ui_vd);
}

/* VIEW */

#view_container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: 100%;
	background-color: var(--ui_l);
}

#tags_super {
	display: flex;
	flex-direction: column;
	border-right: 8px solid var(--ui_vd);
}

#tags_head {
	display: block;
	margin: 5px;
	font-weight: bold;
	text-align: center;
}

#tags_view {
	flex: 1 1 auto;
	overflow: auto;
	display: flex;
	flex-direction: column;
	font-size: 0.75em;
	text-align: left;
	padding: 10px 0px 10px 0px;
	margin-left: 10px;
	white-space: nowrap;
	min-width: 150px;
	background-color: var(--ui_d);
}

#view_edit_button {
	flex: 0 0 auto;
	background-color: #444;
	border: none;
	color: #CCC;
	outline: none;
	font-weight: bold;
}

#view_edit_button:hover {
	background-color: #666;
	color: #FFF;
}

#view_edit_button:active {
	background-color: #666;
	color: #000;
}

.tags_text {
	flex: 0 0 auto;
}

.tags_link {
	text-decoration: none;
	margin: 1px 5px 1px 5px;
}

.tags_link:hover {
	color: #FFF;
}

.tags_separator {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex: 0 0 auto;
	height: 20px;
	background-color: #080808;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 3px;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.view_lsim_button {
	flex: 1 1 auto;
	color: #CCC;
	font-weight: bold;
}

.view_ssim_button {
	flex: 1 1 auto;
	color: #CCC;
	font-weight: bold;
}

.view_lsim_button:hover {
	color: #FFF;
}

.view_ssim_button:hover {
	color: #FFF;
}

/* EDIT */

#tedit_container {
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
	padding: 10px;
	background-color: var(--ui_l);
	border-right: 4px solid var(--ui_d);
	overflow: auto;
	width: 300px;
	text-align: center;
}

.tedit_head {
	flex: 0 0 auto;
	display: block;
	margin: 5px;
	font-weight: bold;
}

.tedit_earea {
	flex: 1 0 auto;
	background-color: var(--ui_m);
	padding: 5px;
	text-align: left;
	resize: none;
	color: var(--ui_t_l);
	margin-bottom: 5px;
	min-height: 100px;
	border: 2px solid var(--ui_d);
}

#tedit_iarea {

}

#tedit_sub_container {
	flex: 0 1 auto;
	display: flex;
	flex-direction: column;
}

.tedit_sub_div {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}

.tedit_sub_div_header {
	flex: 0 0 auto;
	min-height: fit-content;
	display: flex;
	flex-direction: row;
	border: 2px solid var(--ui_d);
	border-bottom: none;
	justify-content: flex-end;
	align-items: center;
}

.tedit_sub_idspan {
	flex: 1 0 auto;
	font-size: 80%;
}

.tedit_sub_del_button {
	background-color: #A00;
	padding: none;
}

#tedit_button_div {
	flex: 0 0 auto;
	display: flex;
	flex-direction: row;
}

#tedit_button_div *:not(:first-child) {
	margin-left: 4px;
}

.tedit_button {
	flex: 1 0 auto;
	background-color: var(--ui_vl);
	border: 2px solid var(--ui_d);
	color: var(--ui_t_l);
	padding: 5px;
	outline: none;
}

#tedit_submit {

}

#image_view {
	background-image: repeating-linear-gradient(945deg, #000, #000 5px, #080808 5px, #080808 10px, #000 10px);
	flex: 1 1 auto;
	text-align: center;
	vertical-align: middle;
	overflow: auto;
}

#view_img {

}

#tgrp_container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#tgrp_header {
	flex: 0 0 auto;
	height: 60px;
	background-color: #181818;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#tgrp_header > * { margin: 0 5px 0 5px; }

#tgrp_view {
	flex: 1 1 auto;
	background-color: #111;
	display: flex;
	flex-direction: column;
	padding: 10px;
	padding-left: 5%;
	padding-right: 5%;
	align-items: center;
	text-align:center;
	overflow: auto;
}

.tgrp_grphead {
	flex: 0 0 auto;
}

.tgrp_grparea {
	flex: 0 0 auto;
	margin-bottom: 20px;
	justify-content: center;
}

.tgrp_grpheadtxt {
	font-weight: bold;
}

.tgrp_grptagtxt {
	margin-left: 6px;
	margin-right: 6px
}

#tgrp_taginp {
	background-color: #333;
	border: 5px solid #222;
	color: #CCC;
	padding: 5px;
	outline: none;
}

#tgrp_grpinp {
	background-color: #333;
	border: 5px solid #222;
	color: #CCC;
	padding: 5px;
	outline: none;
}

#tgrp_submit {
	background-color: #333;
	border: 5px solid #222;
	color: #CCC;
	padding: 5px;
	outline: none;
}

#tgrp_delete {
	background-color: #333;
	border: 5px solid #222;
	color: #CCC;
	padding: 5px;
	outline: none;
}

/* IMPLICATIONS */

#impl_container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#impl_header {
	flex: 0 0 auto;
	height: 60px;
	background-color: #181818;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#impl_header > * { margin: 0 5px 0 5px; }

#impl_view {
	flex: 1 1 auto;
	background-color: #111;
	text-align: center;
	overflow: auto;
	padding: 20px;
}

#impl_tagcont {
	display: inline-block;
	text-align: left;
	column-count: 6;
	border: none;
}

.impl_list {
	border-left: 5px solid;
	border-color: inherit;
	list-style-type: none;
	padding-left: 5px;
	margin: 5px 0px;
}

.impl_listitem {
	margin: 1px 0px;
	border-color: inherit;
	break-inside: avoid-column;
}

#impl_taginp {
	background-color: #333;
	border: 5px solid #222;
	color: #CCC;
	padding: 5px;
	outline: none;
}

#impl_impinp {
	background-color: #333;
	border: 5px solid #222;
	color: #CCC;
	padding: 5px;
	outline: none;
}

#impl_submit {
	background-color: #333;
	border: 5px solid #222;
	color: #CCC;
	padding: 5px;
	outline: none;
}

#impl_delete {
	background-color: #333;
	border: 5px solid #222;
	color: #CCC;
	padding: 5px;
	outline: none;
}

/* WEIGHTS */

#tweight_main {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

#tweight_header {
	flex: 0 0 auto;
	display: flex;
	flex-direction: row;
	height: 40px;
	background-color: var(--ui_m);
}

#tweight_list {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	padding: 20px 0px;
	overflow: auto;
	flex-wrap: wrap;
	background-color: var(--ui_vd);
}

.tweight_entry {
	flex: 0 0 auto;
	height: 22px;
	margin: 4px 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: var(--ui_m);
}

.tweight_tagtext {
	flex: 1 1 auto;
	font-size: 12px;
	text-align: left;
	padding-left: 4px;
}

.tweight_weightinput {
	flex: 0 0 auto;
	background-color: #181818;
	border: 2px solid #282828;
	height: 20px;
	width: 60px;
	color: inherit;
	outline: none;
	text-align: center;
}

.twight_subbutton {
	flex: 0 0 auto;
	background-color: #282828;
	border: 2px solid #282828;
	height: 20px;
	color: inherit;
	outline: none;
	text-align: center;
}

/* DOGI */

.dogi_error {
	position: fixed;
	top: 20px;
	right: 20px;
	width: 20%;
	height: 20%;
	border: 4px solid #800;
	background-color: #FFF;
}

.dogi_error_cover {
	position: fixed;
	top: 20px;
	right: 20px;
	width: 20%;
	height: 20%;
	margin: 4px;
}

/* ANIMATIONS */

@keyframes tedit_submit_fail {
	0% {
		background-color: #333;
		color: inherit;
	}
	50% {
		background-color: #A33;
		color: #000;
	}inline
	100% {
		background-color: #333;
		color: inherit;
	}
}

@keyframes tedit_submit_succ {
	0% {
		background-color: #333;
		color: inherit;
	}
	50% {
		background-color: #3A3;
		color: #000;
	}
	100% {
		background-color: #333;
		color: inherit;
	}
}

@keyframes rainbow {
	0% {
		color: #F00;
	}
	17% {
		color: #FF0;
	}
	33% {
		color: #0F0;
	}
	50% {
		color: #0FF;
	}
	67% {
		color: #00F;
	}
	83% {
		color: #F0F;
	}
	100% {
		color: #F00;
	}
}
